In [3]:
import pandas as pd

In [2]:
path = "../../202208-citibike-tripdata.csv"

In [3]:
path_2 = "../../JC-202208-citibike-tripdata.csv"

In [4]:
df1 = pd.read_csv(path)

/Users/kevin/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
df2 = pd.read_csv(path_2)

In [6]:
df1.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,428051654CF1145B,classic_bike,2022-08-28 00:34:58,2022-08-28 00:55:20,Walker St & Baxter St,5351.07,Lexington Ave & E 24 St,6089.07,40.717411,-73.999573,40.740259,-73.984092,member
1,7282036E3ECDDD65,classic_bike,2022-08-31 16:33:38,2022-08-31 16:35:17,Lexington Ave & E 29 St,6164.09,Lexington Ave & E 24 St,6089.07,40.743116,-73.982154,40.740259,-73.984092,member
2,375C59BE1271E31C,electric_bike,2022-08-27 23:22:10,2022-08-27 23:34:57,E 132 St & Madison Ave,7748.02,Melrose Ave & E 150 St,7879.01,40.810224,-73.937195,40.816827,-73.917338,member
3,7281A7F21CE571AF,classic_bike,2022-08-26 19:01:01,2022-08-26 19:09:26,Lexington Ave & E 29 St,6164.09,E 13 St & 2 Ave,5820.08,40.743116,-73.982154,40.731539,-73.985302,member
4,A5093D7D77713F87,classic_bike,2022-08-25 22:16:16,2022-08-25 22:29:13,E 16 St & Irving Pl,5938.11,W 31 St & 7 Ave,6331.01,40.735367,-73.987974,40.749156,-73.991600,member

In [8]:
df2.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,D68047AAA9A72501,classic_bike,2022-08-12 18:14:45,2022-08-12 18:21:23,Columbus Drive,JC014,Hamilton Park,JC009,40.718355,-74.038914,40.727596,-74.044247,member
1,E5B82A9F588A7650,classic_bike,2022-08-19 01:04:39,2022-08-19 01:14:10,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,8 St & Washington St,HB603,40.736982,-74.027781,40.745984,-74.028199,member
2,13D19CCBCC9D7B76,classic_bike,2022-08-19 18:13:45,2022-08-19 19:32:47,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,11 St & Washington St,HB502,40.736982,-74.027781,40.749985,-74.027150,member
3,AA0DBFF220DA98F6,classic_bike,2022-08-21 13:43:05,2022-08-21 13:53:13,Columbus Drive,JC014,Montgomery St,JC099,40.718355,-74.038914,40.719420,-74.050990,member
4,8F11D340492FCD32,electric_bike,2022-08-04 22:02:12,2022-08-04 22:21:31,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Pershing Field,JC024,40.736982,-74.027781,40.742677,-74.051789,member

In [9]:
df1.count()

ride_id               3681309
rideable_type         3681309
started_at            3681309
ended_at              3681309
start_station_name    3681309
start_station_id      3681309
end_station_name      3670904
end_station_id        3670904
start_lat             3681309
start_lng             3681309
end_lat               3676781
end_lng               3676781
member_casual         3681309
dtype: int64

In [10]:
df2.count()

ride_id               115231
rideable_type         115231
started_at            115231
ended_at              115231
start_station_name    115231
start_station_id      115231
end_station_name      114840
end_station_id        114840
start_lat             115231
start_lng             115231
end_lat               115011
end_lng               115011
member_casual         115231
dtype: int64

In [4]:
link3 = "../../JC-201811-citibike-tripdata.csv"
link4 = "../../JC-201804-citibike-tripdata.csv"

In [5]:
df3 = pd.read_csv(link3)
df4 = pd.read_csv(link4)

In [8]:
df3.index += 23634

In [28]:
df3

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
23634,1188,2018-11-01 06:32:27.5190,2018-11-01 06:52:15.9140,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,33662,Customer,1969,0
23635,278,2018-11-01 07:14:31.8680,2018-11-01 07:19:10.2610,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29254,Subscriber,1963,1
23636,115,2018-11-01 07:33:17.1920,2018-11-01 07:35:12.2830,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,33607,Subscriber,1966,1
23637,155,2018-11-01 08:20:10.9320,2018-11-01 08:22:46.7050,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,29222,Subscriber,1975,2
23638,82,2018-11-01 08:35:02.7850,2018-11-01 08:36:25.1840,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29678,Subscriber,1975,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48539,734,2018-11-28 10:46:12.6640,2018-11-28 10:58:27.0750,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,26255,Subscriber,1994,1
48540,312,2018-11-28 19:52:40.1140,2018-11-28 19:57:52.9270,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,29451,Subscriber,1957,1
48541,914,2018-11-29 10:20:57.7240,2018-11-29 10:36:12.0420,3694,Jackson Square,40.711130,-74.078900,3206,Hilltop,40.731169,-74.057574,29610,Subscriber,1994,1
48542,2392,2018-11-29 17:28:24.1590,2018-11-29 18:08:16.8720,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29659,Subscriber,1994,1
48543,637,2018-11-30 12:00:10.4100,2018-11-30 12:10:48.0210,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29536,Subscriber,1994,1

In [27]:
df4

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1814,2018-04-01 09:43:51.1590,2018-04-01 10:14:06.1300,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,26175,Subscriber,1978,1
1,298,2018-04-01 11:42:53.7090,2018-04-01 11:47:51.8770,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,31847,Subscriber,1979,1
2,1060,2018-04-01 12:43:11.9640,2018-04-01 13:00:52.8700,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,33463,Subscriber,1972,1
3,1035,2018-04-01 12:43:40.5890,2018-04-01 13:00:55.6620,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,31738,Subscriber,1983,1
4,559,2018-04-01 12:56:47.4600,2018-04-01 13:06:06.7710,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31925,Subscriber,1989,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23629,350,2018-04-30 12:34:25.4670,2018-04-30 12:40:16.0780,3681,Grand St,40.715178,-74.037683,3273,Manila & 1st,40.721651,-74.042884,26298,Subscriber,1969,0
23630,571,2018-04-30 15:15:33.5140,2018-04-30 15:25:05.0550,3681,Grand St,40.715178,-74.037683,3278,Monmouth and 6th,40.725685,-74.048790,29478,Customer,1992,1
23631,195,2018-04-30 18:29:09.0680,2018-04-30 18:32:24.1090,3681,Grand St,40.715178,-74.037683,3639,Harborside,40.719252,-74.034234,29245,Subscriber,1983,1
23632,106,2018-04-30 18:53:02.3630,2018-04-30 18:54:48.4980,3681,Grand St,40.715178,-74.037683,3275,Columbus Drive,40.718355,-74.038914,33660,Subscriber,1992,2
23633,746,2018-04-30 19:02:56.9550,2018-04-30 19:15:23.3070,3681,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,29600,Subscriber,1964,1

In [31]:
# merged_df = pd.merge(df4,df3,on=None)
# df4.merge(df3,left_index=True,)
df3 = df3.reset_index()

In [33]:
# merged_df = df4.join(df3)
df4 = df4.reset_index()

In [59]:
# merged_df = pd.merge(df4,df3,on='index')
merged_df = df4.append(df3)

In [60]:
merged_df

,index,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0,1814,2018-04-01 09:43:51.1590,2018-04-01 10:14:06.1300,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,26175,Subscriber,1978,1
1,1,298,2018-04-01 11:42:53.7090,2018-04-01 11:47:51.8770,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,31847,Subscriber,1979,1
2,2,1060,2018-04-01 12:43:11.9640,2018-04-01 13:00:52.8700,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,33463,Subscriber,1972,1
3,3,1035,2018-04-01 12:43:40.5890,2018-04-01 13:00:55.6620,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,31738,Subscriber,1983,1
4,4,559,2018-04-01 12:56:47.4600,2018-04-01 13:06:06.7710,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31925,Subscriber,1989,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24905,48539,734,2018-11-28 10:46:12.6640,2018-11-28 10:58:27.0750,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,26255,Subscriber,1994,1
24906,48540,312,2018-11-28 19:52:40.1140,2018-11-28 19:57:52.9270,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,29451,Subscriber,1957,1
24907,48541,914,2018-11-29 10:20:57.7240,2018-11-29 10:36:12.0420,3694,Jackson Square,40.711130,-74.078900,3206,Hilltop,40.731169,-74.057574,29610,Subscriber,1994,1
24908,48542,2392,2018-11-29 17:28:24.1590,2018-11-29 18:08:16.8720,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29659,Subscriber,1994,1
24909,48543,637,2018-11-30 12:00:10.4100,2018-11-30 12:10:48.0210,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29536,Subscriber,1994,1

In [61]:
merged_df.to_csv('merged.csv', index=False)